.post-content{
    text-align: left;
    section{
        background-color: rgb(243, 243, 243);
        padding: 1rem;

        form{

            textarea{
                width: 100%;
                margin-bottom: 1rem;
                border: none;
                min-height: 150px;
            }

            button{
                background-color: rgb(28, 28, 28);
                color: #fff;
                margin-bottom: .5rem;
            }
        }

        article{
            border-top: 1px solid #5f5f5f;
            padding-top: .5rem;
        }
    }
}